.favorite {
  text-align: center;
  padding: 10px 40px;
  &-card {
    display: flex;
    justify-content: center;
    gap: 30px;
    img {
      width: 200px;
      transition: all 0.3s;
      &:hover {
        scale: 1.18;
        cursor: pointer;
      }
    }
  }
}
@media (max-width:850px) {
    .favorite {
        &-card {
            align-items: center;
            flex-direction: column;
        }
    }
}
